<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RngHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RngHelper.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RngHelper.Properties.Settings>
            <setting name="Color1_25" serializeAs="String">
                <value>#fdfd00</value>
            </setting>
            <setting name="Color26_50" serializeAs="String">
                <value>#ff8000</value>
            </setting>
            <setting name="Color51_75" serializeAs="String">
                <value>#f70000</value>
            </setting>
            <setting name="Color76_100" serializeAs="String">
                <value>#7e00fc</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalClickEvent" serializeAs="String">
                <value>True</value>
            </setting>
        </RngHelper.Properties.Settings>
    </userSettings>
</configuration>